.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-logo {
  width: 197px;
  z-index: 999999;
}
@media screen and (max-width: 700px) {
  .nav-logo {
    width: 120px;
  }
}
.nav-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #373e28;
  margin-left: 42px;
}
@media screen and (max-width: 600px) {
  .nav-link {
    display: none;
  }
}

.heading {
  text-align: center;
  margin-top: 116px;
  margin-bottom: 48px;
}

@media screen and (max-width: 700px) {
  .heading {
    margin-top: 50px;
  }
}
.heading-primary {
  font-size: 84px;
  line-height: 89.96px;
  font-weight: 700;
  color: #768b48;
}
@media screen and (max-width: 700px) {
  .heading-primary {
    font-size: 45px;
    line-height: 50px;
  }
}
.heading-secondary {
  max-width: 568px;
  font-size: 20px;
  line-height: 26px;
  color: #373e28;
  margin: 0 auto;
  margin-top: 24px;
}

.about {
  display: flex;
  margin-top: 64px;
  align-items: center;
  padding-right: 0 !important;
}
@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    margin-top: 40px;
    padding-right: 70px !important;
  }
}
@media screen and (max-width: 700px) {
  .about {
    padding-right: 24px !important;
  }
}
.about-text {
  margin-right: 90px;
}
@media screen and (max-width: 1024px) {
  .about-text {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.about-text h3 {
  font-weight: 700;
  font-size: 64px;
  line-height: 68.54px;
  max-width: 443px;
  margin-bottom: 24px;
}
@media screen and (max-width: 700px) {
  .about-text h3 {
    font-size: 40px;
    line-height: 45px;
  }
}
.about-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
@media screen and (max-width: 700px) {
  .about-text p {
    font-size: 16px;
    line-height: 25px;
  }
}
.about-img {
  min-width: 60%;
}
@media screen and (max-width: 1024px) {
  .about-img {
    min-width: 100%;
  }
}
.about-img img {
  margin-bottom: -7px;
}
img {
  width: 100%;
}

.date {
  background-color: #edf8d5;
  padding: 121px 0 157px 0;
  display: flex;
  /* align-items: center; */
}
@media screen and (max-width: 1024px) {
  .date {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .date {
    padding: 40px 0;
  }
}
.date-text {
  min-width: 50%;
  color: #768b48;
  position: relative;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  .date-text {
    min-width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 700px) {
  .date-text {
    margin-bottom: 50px;
  }
}
.date-line {
  position: absolute;
  left: -10px;
  bottom: -50px;
}

@media screen and (max-width: 700px) {
  .date-line {
    width: 165px;
    left: 0;
  }
}
.date-primary {
  font-size: 32px;
  line-height: 34.27px;
  margin-bottom: 12px;
}
@media screen and (max-width: 700px) {
  .date-primary {
    font-size: 20px;
    line-height: 34.27px;
  }
}
.date-secondary {
  font-size: 96px;
  line-height: 102.82px;
  font-weight: 600;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 700px) {
  .date-secondary {
    font-size: 35px;
    line-height: 40px;
  }
}
.date-content p {
  font-size: 32px;
  line-height: 36.5px;
  color: #373e28;
  margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
  .date-content p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}
.date-content-wrap {
  display: flex;
}
.date-content span {
  background-color: #f2c94c;
  border-radius: 50%;
  height: 32px;
  min-width: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 41px;
}
@media screen and (max-width: 600px) {
  .date-content span {
    margin-right: 20px;
  }
}

.footnote {
  margin-top: 161px;
  margin-bottom: 64px;
}
@media screen and (max-width: 700px) {
  .footnote {
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  .footnote {
    margin-top: 75px;
  }
}
.footnote-box {
  background-color: #edf8d5;
  height: 316px;
  border-radius: 10px;
  margin: 0 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-image: url("../assests/images/footnote-bg.svg");
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .footnote-box {
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .footnote-box {
    height: 216px;
  }
}
@media screen and (max-width: 600px) {
  .footnote-box {
    flex-direction: column;
    height: 535px;
  }
}

.footnote-text {
  color: #768b48;
  margin-left: 41px;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 600px) {
  .footnote-text {
    margin-left: 16px;
    margin-top: 43px;
  }
}
.footnote-primary {
  font-size: 40px;
  line-height: 49.84px;
  font-weight: 700;
  margin-bottom: 54px;
}
@media screen and (max-width: 900px) {
  .footnote-primary {
    font-size: 24px;
    line-height: 29.9px;
    margin-bottom: 40px;
    text-align: center;
  }
}
/* @media screen and (max-width: 600px) {
  .footnote-primary {
    font-size: 16px;
    line-height: 19.94px;
    margin-bottom: 16px;
  }
} */
.footnote-link-box {
  display: flex;
}
@media screen and (max-width: 900px) {
  .footnote-link-box {
    flex-direction: column;
    align-items: center;
  }
}
.footnote-link {
  background-color: #f2c94c;
  border-radius: 104px;
  text-decoration: none;
  width: 200px;
  margin-right: 30px;
  height: 56px;
  color: white;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .footnote-link {
    font-size: 16px;
    line-height: 25px;
    margin-right: 0;
    margin-bottom: 15px;
    width: 150px;
    height: 35px;
  }
}
@media screen and (max-width: 600px) {
  .footnote-link {
    width: 150px;
    height: 40px;
    /* margin: 0 auto; */
  }
}
.footnote-img {
  min-width: 451px;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 900px) {
  .footnote-img {
    min-width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .footnote-img {
    min-width: 80%;
  }
}
.footnote-img img {
  position: absolute;
  right: 30px;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
  .footnote-img img {
    right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .footnote-img img {
    right: 30px;
  }
}
@media screen and (max-width: 600px) {
  .footnote-img img {
    right: 5px;
  }
}

.footer-box {
  border-top: 0.5px solid #283016;
  padding-top: 32px;
  padding-bottom: 94px;
  color: #2e2e2e;
  text-align: center;
  font-size: 24px;
  line-height: 25.7px;
  margin: 0 190x;
}
@media screen and (max-width: 700px) {
  .footer-box {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
  }
}
.footer-box span {
  font-weight: 300;
}
.mobile-nav {
  display: none;
  z-index: 99999;
}
@media screen and (max-width: 600px) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav-btn {
  display: block;
  z-index: 99999;
  background: none;
  border: none;
}
.mobile-nav-btn:focus {
  outline: none;
}

.mobile-span {
  width: 35px;
  height: 3px;
  background-color: #000;
  display: block;
  z-index: 6;
  transition: all .2s;

}
.mobile-span:nth-child(2) {
  margin-top: 5px;
}
.mobile-span:nth-child(3) {
  margin-top: 5px;
}
.mobile-nav-wrap {
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  background: #fff;
  padding-top: 100px;
  z-index: -1;
  transition: all .2s;
  /* display: none; */

  /* display: flex;
  flex-direction: column;
  align-items: right; */
}
.mobile-nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-decoration: none;
  color: #373e28;
  margin-right: 24px;
  display: block;
  text-align: right;
  margin-bottom: 40px;
}
.hide {
  width: 0;
  height: 0;
}
.show {
  width: 30vw;
  height: 30vh;
  box-shadow: 3px 6px 12px 10px #c1b5b5;
}